[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pytest = "*"
isort = "*"
flake8-docstrings = "*"
mkdocs = "*"
mkdocs-material = "*"
black = "*"
mypy = "*"
codecov = "*"
pytest-cov = "*"
pytest-mock = "*"
flit = "*"
markdown-include = "*"
pygments = "*"
pymdown-extensions = "*"
bumpversion = "*"
pytest-asyncio = "*"
respx = "*"
fastapi = "==0.46.0"

[packages]
httpx = "==0.11.0"
typing-extensions = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
